    <div class='back'>
    </div>
    <header>
        <div class='top-box'>
            <div class='flex-box'>
                <button class='plan-button'>Plan</button>
                <button class='zapisy-button'>Zapisy</button>
                <button class='oceny-button'>Oceny</button>
                <button class='konto-button'>Konto</button>
                <button class='wyloguj-button'>Wyloguj</button>
            </div>
        </div>
    </header>
    <main>
    </main>
    <footer></footer>

