// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.konto-button {
    background-color: #20495c;
    border: 2px solid #20495c;
    color: white;
}

.oceny-button {
    background-color: #20495c;
    border: 2px solid #20495c;
    color: white;
}

.plan-button {
    background-color: #20495c;
    border: 2px solid #20495c;
    color: white;
}

.zapisy-button {
    background-color: #20495c;
    border: 2px solid #20495c;
    color: white;
}
