<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Dziennink uczelni wyzszej" />
    <%= stylesheet_link_tag "style" %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
    <title>Dziennik uczelni</title>
</head>

  <body>
    <%= yield %>
  </body>
</html>


